@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.home {
  background-image: url(./assets/back6.png);
  background-size: cover;
  background-position: center;
  background-color: #2a2131;
}

.content-div:hover {
  background-image: linear-gradient(to right, #303030, #333333) !important;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot_icon {
  display: flex;
  flex-direction: row;
}

/* .head-timeline TimelineDot{
    
} */
/* .MuiTimelineDot-root{
    padding: 20px;   
} */
